@import 'utilits';
@import 'shoppingCart';
@import 'loginBox';
@import 'checkoutPage';

.container{
  min-width: 1024px;
}

html,
body {
  height: 100%;
  font-family: "微軟正黑體";
}

.logo {
  font-family: 'Abril Fatface', cursive;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.top_header{
  background-color: #ececec;
}

.order_box{
  border-bottom: 1px solid #dee2e6;
  & .btn{
    margin-bottom: 10px;
  }
}

.filter_box{
  padding-top: 10px;
  & + & {
    border-top: 1px solid #dee2e6;
    margin-top: 10px;
  }
}

.cart_content{
  visibility: hidden;
  transition: visibility 0.2s;
  position: absolute;
  width: 20rem;
  top: calc( 100% + 15px );
  right: -8px;
  background: #fff;
  box-shadow: 0px 3px 10px #dee2e6;
  padding: .5rem;
  z-index: 1;
  &::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -15px;
    right: 10px;
    z-index: 10;
  }
}

.product_card{
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  &:hover{
    transform: translateY(-5px);
  }
}

a.card {
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}

.card-body {
  background-color: #f5f1f1;
  padding: .7rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  text-align: right;
  line-height: 1;
  margin-bottom: 0.25rem;
}

// 頁數控制
.page_controller {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  .material-icons {
    font-size: 32px;
  }
  button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    min-width: 3rem;
    cursor: pointer;
    margin: 0 .5rem;
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  }
  .page_num {
    &:hover,
    &.active {
      background-color: #007bff;
      color: #fff;
    }
  }
}

// 匹配不到搜尋條件
.no_match{
  display: flex;
  align-items: wrap;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;
  .material-icons{
    font-size: 20rem;
  }
  .no_match_txt{
    width: 100%;
    text-align: center;
  }
}

.sub-title {
  color: #6f6e6e;
  font-size: 1.2rem;
  margin-right: .5rem;
}

.light_box {
  display: block;
  .mask {
    display: block;
  }
  .modal-dialog{
    z-index: 2;
    text-align: center;
  }
  .message{
    font-size: 2rem;
  }
  .material-icons{
    font-size: 5rem;
  }
}

// 成功加入購物車後顯示
.add_finished{
  &.show{
    display: block;
    .mask{
      display: block;
      top: 30%;
      left: 30%;
      bottom: 30%;
      right: 30%;
      opacity: .8;
    }
  }
  .modal-dialog{
    z-index: 2;
  }
  .content{
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .material-icons{
    margin-top: 30px;
    font-size: 60px;
  }
}

.mask{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 1;
}

// 計數器
.counter {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  .count {
    text-align: center;
    min-width: 3em;
  }
  .btn{
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.not_found {
  text-align: center;
  .material-icons {
    font-size: 15rem;
  }
}

.goIndex {
  background-color: #ffc107;
  border: none;
  border-radius: 50%;
  min-height: 4rem;
  min-width: 4rem;
  cursor: pointer;
  outline: none;
  animation: top_down_move 2s linear infinite;
  box-shadow: 0 3px 10px #808080;
}

@keyframes top_down_move {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0px); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(0px); }
}