.filter_section{
  min-width: 200px;
}

.card_section{
  display: flex;
  flex-wrap: wrap;
  .card{
    margin: .25rem;
    margin-top: 0px;
  }
}

.login_box{
  &.show{
    display: block;
  }
  .modal-dialog{
    z-index: 2;
  }
  .mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
  }
}