.container{
  min-width: 1024px;
}

.top_header{
  background-color: #ececec;
}

.order_box{
  border-bottom: 1px solid #dee2e6;
  & .btn{
    margin-bottom: 10px;
  }
}

.filter_box{
  padding-top: 10px;
  & + & {
    border-top: 1px solid #dee2e6;
    margin-top: 10px;
  }
}

.shopping_cart{
  position: relative;
  display: flex;
  .material-icons {
    cursor: pointer;
  }
  &:hover{
    .cart_content{
      display: block;
    }
  }
}

.cart_content{
  display: none;
  position: absolute;
  width: 20rem;
  top: calc( 100% + 15px );
  right: -8px;
  background: #fff;
  box-shadow: 0px 3px 10px #dee2e6;
  padding: .5rem;
  z-index: 1;
  &::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -15px;
    right: 5px;
    z-index: 10;
  }
  .in_shopping_cart{
    border-bottom: 1px dashed #dee2e6;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.product_card{
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  &:hover{
    transform: translateY(-5px);
  }
}

a.card{
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}

.login_box{
  &.show{
    display: block;
    opacity: 1;
    .modal-content{
      opacity: 1;
      margin-top: 0;
    }
  }
  &.loading{
    .form-group{
      display: none;
    }
    .btn{
      display: none;
    }
    .abort-login{
      display: block;
    }
  }
  .modal-dialog{
    z-index: 2;
  }
  .modal-content{
    transition: opacity 0.5s, margin-top 0.5s;
    opacity: 0;
    margin-top: -10em;
  }
  .mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
  }
  .abort-login{
    display: none;
  }
}

.loader-outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}